<div class="dialog">
	<div class="outer">
		<div class="background" data-bind="click : closeAdd"></div>
		<div class="middle">
			<div class="content">
				<div class="mainDialog">
					<div class="addFileDialog aspect">
						<div class="header" data-bind="text : $root.txt"></div>
						<div class="form">
							<div class="contentform">
								<!-- ko if: $root.isNew -->
								<h5 style="color: rgba(255, 255, 255, 0.9);">File to upload
									(encrypted or it will be deleted)</h5>
								<input id="File" type=file />
								<h5 style="color: rgba(255, 255, 255, 0.9);">The file
									signature</h5>
								<input id="Sign" type="file"/>
								<!-- /ko -->
								<h5 style="color: rgba(255, 255, 255, 0.9);">The encryption
									key, encoded for you</h5>
								<input id="Key" type=file />
								<h5 style="color: rgba(255, 255, 255, 0.9);">The key
									signature</h5>
								<input  id="KeySign" type=file />
							</div>
							<!-- ko if : $root.showMessage -->
							<span class="label label-important"
								data-bind="text: $root.message"></span>
							<!-- /ko -->
							<div
								style="text-align: center; margin-top: 15px; margin-bottom: 5px;">
								<div class="btn btn-large btn-inverse btn-login"
									data-bind="click : $root.closeAdd">Close</div>
								<div id="upload" class="btn btn-large btn-inverse btn-login"
									>Validate</div>

							</div>
							<!-- ko if : $root.showLoadingFile -->
							<img class="loading_here" src="/TEMPLATE/PICTURES/spinner.gif">
							<!-- /ko -->
							<!-- ko if : $root.showUpload -->
							<div id="uploading_info" class="orange" data-bind="text : infoUpload"></div>
							<!-- /ko -->
							<!-- ko if : $root.showSuccess -->
							<div id="uploading_info" class="green" data-bind="text : infoUpload"></div>
							<!-- /ko -->
							<!-- ko if : $root.showError -->
							<div id="uploading_info" class="red" data-bind="text : infoUpload"></div>
							<!-- /ko -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
