<div class="dialog">
	<div class="outer">
		<div class="background" data-bind="click : close"></div>
		<div class="middle">
			<div class="content">
				<div class="mainDialog">
					<div class="shareFile aspect">
						<div class="header">Download file</div>
						<div class="form" style="margin-top: 10px;">
							<div>
								<a data-bind="attr : { href : ''}">Encrypted file</a>
							</div>
							<div>
								<a data-bind="attr : { href : ''}">File signature</a>
							</div>
							<div>
								<a data-bind="attr : { href : ''}">Encrypted key</a>
							</div>
							<div>
								<a data-bind="attr : { href : ''}">Key signature</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
