<div id="home">
	<div class="content">
		<h1 style="color:rgba(255,255,255,0.9);margin-bottom:50px;"align="center">Welcome on Secloud !</h1>
		<div style="text-align :right;">
			<a style="margin-right:10px;" class="btn btn-inverse" href="?page=userPage">My profile</a> 
			<div style="margin-right:10px;" data-bind="click : addFile"
				class="btn btn-inverse">Add a file</div>
		</div>
		<h3 class="title_list">List of users</h3>
		<div style="width:90%;margin:auto;" data-bind="template: { name: 'person-template', foreach: users }">
		</div>
	</div>
</div>

<div style="display:none" id="person-template">
<a class="person" data-bind="attr : { href: $data.url }">
    <h4><span data-bind="text: $data.firstname"></span> <span data-bind="text: $data.lastname"></span></h4>
</a>
</div>
<script src="JS/KNOCKOUT/home.js" type="text/javascript"></script>
