<div class="dialog">
	<div class="outer">
		<div class="background" data-bind="click : close"></div>
		<div class="middle">
			<div class="content">
				<div class="mainDialog">
					<div class="shareFile aspect">
						<div class="header" data-bind="text : $root.txt"></div>
						<div class="form" style="margin-top:10px;">
							<div data-bind="foreach : myFiles">
								<div class="myFileTochoose" data-bind="click : $root.selectFile">
									<h4 style="color: rgba(255, 255, 255, 0.9);">
										<span data-bind="text: $data.name"></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
