<div id="userPage">
	<div class="content">
		<!-- ko ifnot : $root.loading -->
		<div style="float: right;">
			<!-- ko if : $root.myPage -->
			<span class="btn btn-medium btn-inverse btn-login"
				data-bind="click : $root.logout">Logout</span>
			<!-- /ko -->
			<a class="btn btn-medium btn-inverse btn-login" href="?page=home">Homepage</a>
		</div>
		<h1 class="userTitle" data-bind="text : userTitle"></h1>
		<!-- ko if : $root.myPage -->
		<div style="float: right; position: relative;">
			<div class="btn btn-large btn-inverse btn-login"
				data-bind="click : $root.modifInfo,text : $root.textButton"></div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot : $root.myPage -->
		<div style="float: right; position: relative;">
			<div class="btn btn-large btn-inverse btn-login"
				data-bind="click : $root.shareFiles">Share files</div>
		</div>
		<!-- /ko -->
		<div style="float: right; position: relative;margin-right:5px;">
			<div class="btn btn-large btn-inverse btn-login"
				data-bind="click : $root.downloadKey">Get public key</div>
		</div>

		<!-- ko ifnot : $root.modif -->
		<div class="userInfo">
			<h2>
				<span data-bind="text : userInfo.firstName"></span> <span
					data-bind="text : userInfo.lastName"></span>
			</h2>
			<div style="font-size: 110%;">
				<!-- ko if : $root.myPage -->
				<div style="margin-bottom: 10px;">
					<strong>Address:</strong> <span style="font-style: italic;"
						data-bind="text : userInfo.address"></span>
				</div>
				<div style="margin-bottom: 10px;">
					<strong>Phone:</strong> <span style="font-style: italic;"
						data-bind="text : userInfo.phone"></span>
				</div>
				<!-- /ko -->
				<div>
					<strong>Email:</strong> <span style="font-style: italic;"
						data-bind="text : userInfo.mail"></span>
				</div>
			</div>
		</div>
		<!-- /ko -->
		<!-- ko if : $root.modif -->
		<div style="width: 45%; text-align: right; position: relative;">
			<input class="modifMyInfo" type="text" name="Firstname"
				placeholder="Firstname"
				data-bind="value : inputFirstName,valueUpdate: 'afterkeydown'"
				autocomplete="on" />
			<input class="modifMyInfo" type="text"
				name="Lastname" placeholder="Lastname"
				data-bind="value : inputLastName,valueUpdate: 'afterkeydown'"
				autocomplete="on" />
			<input class="modifMyInfo" type="text"
				name="Email" placeholder="Email"
				data-bind="value : inputMail,valueUpdate: 'afterkeydown'"
				autocomplete="on" />
			<input class="modifMyInfo" type="text"
				name="address" placeholder="Address"
				data-bind="value : inputAddress,valueUpdate: 'afterkeydown'"
				autocomplete="on" />
			<input class="modifMyInfo" type="text"
				name="phoneNumber" placeholder="Phone number"
				data-bind="value : inputPhone,valueUpdate: 'afterkeydown'"
				autocomplete="on" />
			<div style="float:left;"
				class="btn btn-large btn-inverse"
				data-bind="click : $root.saveModif">Save</div>
			<div class="btn-certificate btn btn-large btn-inverse"
				data-bind="click : $root.revocation">Revoke my certificate</div>
		</div>

		<!-- /ko -->
		<h3 class="title_list" data-bind="text : titleFiles"></h3>
		<div class="files">
			<!-- ko ifnot : $root.isFiles -->
			<div style="font-style: italic;text-align:center;">There is no file here</div>
			<!-- /ko -->

			<div
				data-bind="template: { name: 'file-template', foreach: $root.files }">
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
<div style="display: none" id="file-template">
	<a class="file" data-bind="click : $root.download">
		<h4 style="color: rgba(255, 255, 255, 0.9);">
			<span data-bind="text: $data.name"></span>
		</h4>
	</a>
</div>
<script src="JS/KNOCKOUT/downloadFiles.js" type="text/javascript"></script>
<script src="JS/KNOCKOUT/revoke.js" type="text/javascript"></script>
<script src="JS/KNOCKOUT/myFilesToShare.js" type="text/javascript"></script>
<script src="JS/KNOCKOUT/userPage.js" type="text/javascript"></script>

