<div id="welcome">
	<div class="dialog">
		<div class="outer">
			<div class="middle">
				<div class="content" data-bind="appear : {}">
					<div class="mainDialog">
						<!-- ko if : $root.signin -->
						<div class="signin aspect">
							<!-- ko ifnot : $root.loading -->
							<div class="header">Welcome on Secloud, please login</div>
							<div class="form">
								<div class="contentform">
									<input style="width: 70%;" type="text" name="Login"
										placeholder="Login"
										data-bind="value : inputLogin,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input style="width: 70%;"
										type="password" name="password" placeholder="Password"
										data-bind=" value : inputPassword,valueUpdate: 'afterkeydown'"
										autocomplete="off" />
								</div>
								<!-- ko if : $root.showMessage -->
									<span class="label label-important" data-bind="text: $root.message"></span>

								<!-- /ko -->
								<div
									style="text-align: center; margin-top: 15px; margin-bottom: 5px;">
									<div class="btn btn-large btn-inverse btn-login"
										data-bind="click: connect">Confirm</div>
									<div class="btn btn-large btn-inverse btn-login"
										data-bind="click : createAccount">Sign up</div>
								</div>
							</div>

							<!-- /ko -->
							<!-- ko if : $root.loading -->
							<img class="loading" src="/TEMPLATE/PICTURES/spinner.gif">
							<!-- /ko -->
						</div>
						<!-- /ko -->
						<!-- ko if : $root.signup -->
						<div class="signup aspect">
							<!-- ko ifnot : $root.showSuccess -->
							<!-- ko ifnot : $root.loading -->
							<div class="header">Create a new accound</div>
							<div class="form">
								<div class="contentform">
									<input style="margin-right: 5px;" type="text" name="Firstname"
										placeholder="Firstname"
										data-bind="value : inputFirstName,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input style="margin-left: 5px;"
										type="text" name="Lastname" placeholder="Lastname"
										data-bind="value : inputLastName,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input class="inputInfo" type="text"
										name="Email" placeholder="Email"
										data-bind="value : inputEmail,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input class="inputInfo" type="text"
										name="address" placeholder="Address"
										data-bind="value : inputAddress,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input class="inputInfo" type="text"
										name="phoneNumber" placeholder="Phone number"
										data-bind="value : inputPhone,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input class="inputInfo" type="text"
										name="nationalNumber" placeholder="National register number"
										data-bind="value : inputRegister,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<input class="inputInfo" type="text"
										name="Passphrase" placeholder="Password sentence"
										data-bind="value : inputPassphrase,valueUpdate: 'afterkeydown'"
										autocomplete="on" />
									<div style="margin-bottom:5px;">
										By confirming, you accept the <span class="myLink">term
											of conditions</span>
									</div>
								</div>
							<!-- ko if : $root.showMessage -->
									<span class="label label-important" data-bind="text: $root.message"></span>
								<!-- /ko -->
								<div
									style="text-align: center; margin-top: 15px; margin-bottom: 5px;">
									<div class="btn btn-large btn-inverse btn-login"
										data-bind="click : returnSignIn">Cancel</div>
									<div class="btn btn-large btn-inverse btn-login"
										data-bind="click: newAccount">Validate</div>

								</div>
							</div>
							<!-- /ko -->
							<!-- ko if : $root.loading -->
							<img class="loading" src="/TEMPLATE/PICTURES/spinner.gif">
							<!-- /ko -->
							<!-- /ko -->
							<!-- ko if : $root.showSuccess -->
							<div style="margin:20px;position:absolute;top:4%;">
								<div align="center" class="alert alert-success">
									<h3 align="center">Registration done !</h3>
									<p align="center">Thank you for your registration, the post will send you an encrypted USB key with your private and secret key, you have to use your password sentence to decrypt it. Then you can use the password on it to connect and start using this application</p>
								</div>
							</div>
							<!-- /ko -->
						</div>
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="JS/KNOCKOUT/login.js" type="text/javascript"></script>
